<!-- app/views/pages/contact.html.erb -->
<form action="/answer" data-turbo="false" method="get">
  <input type="text" name="question" placeholder="Ask your coach">
  <input type="submit" value="Ask!">
</form>
